---
import Layout from "../layouts/Layout.astro";
---

<Layout title="TCET Linux" description="Linux for TCET Services" >
	<main class="text-lg" >
		yolo your parents retirement funds on futures and options stocks
	</main>
</Layout>