---
import Layout from "../layouts/Layout.astro";
import DownloadSection from "../components/DownloadSection.astro";
import InstallationSteps from "../components/InstallationSteps";
import VerifyDownloads from "../components/VerifyDownloads.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="TCET Linux" description="Arch Linux based x86_64 GNU/Linux Operating System for TCET Mumbai. Enhance your computing experiance with TCET Linux." >
	<main class="flex flex-col" >
		<!-- <h1 class="font-title" >TCET-Linux</h1> -->
		<Hero />
		<DownloadSection />
		<InstallationSteps client:load />
		<VerifyDownloads />
	</main>
</Layout>
