---
---

<div id="download" class="w-full bg-slate-800 relative overflow-x-hidden px-10 lg:px-12">
  <div class="downloadSectionGradient"></div>
  <div class=" md:grid md:grid-cols-2">
    <div
      class="text-content mx-5 lg:mx-10 my-10 sm:my-20 z-10"
    >
      <div
        class="text-white font-semibold text-4xl lg:text-6xl mb-4 lg:mb-9"
      >
      Downloads
      </div>
      <p class=" text-white flex flex-wrap font-normal text-sm md:text-xl">
        TCET Linux source code and installers are available for download <br /> for
        all versions!!
      </p>
      <div class="btns flex flex-row flex-wrap items-center gap-2 md:gap-5 text-white">
        <div
          class="flex flex-row bg-blue-900 w-fit py-3 px-5 cursor-pointer mt-2 md:mt-4 gap-5 items-center justify-center rounded-full
           border-custom-w border-custom-border-color hover:bg-blue-500"
          >
          <a class="w-16 h-6 font-semibold text-base" href="https://github.com/tcet-opensource/tcet-linux/releases/download/v0.5-beta/tcetlinux-2023.05.05-x86_64.iso">Download</a>
          <img class="w-full h-full" src="images/download-icon.svg" alt="" />
        </div>
        <button
        class="flex flex-row w-fit p-2 px-4 cursor-pointer mt-2 md:mt-4 gap-4 items-center justify-center border
         rounded-full border-white hover:bg-blue-50 hover:bg-opacity-20 "
         id="req-btn"
        >
          <span  class="w-24 h-6 md:font-semibold">Requirements</span>  
          <span class="p-1 ml-1 bg-custom-btn rounded-full">
            <img
              class="w-full h-full"
              src="images/requirements-icon.svg"
              alt=""
              />
          </span>
        </button>
        <!-- <div class="underline underline-offset-4 flex ml-3">
        <a class="mt-2 md:mt-4" href="#"> Verify your downloads &rarr;</a>
      </div> -->
        <a class="flex flex-row items-center mt-2 p-2 gap-2" href="/#verify">
          <i
            class="font-semibold text-base underline underline-offset-4 not-italic"
          >
            Verify your download &rarr;
          </i>
        </a>
      </div>
    </div>
    <div class="image-content hidden md:flex items-center align-middle justify-center z-10">
      <img
        class="w-60 h-40 lg:w-96 lg:h-80"
        src="images/man-with-laptop.png"
        alt=""
      />
    </div>
  </div>
  <dialog id="requirements" class="" >
    <h1>Requirements</h1>
    <p>64 bit x86_64 processor (Intel/AMD), with atleast 2 CPU cores. (32-bit not supported)
      Any GPU/iGPU with OpenGl 3.3+ support.
      Atleast 2GB DDR3/DDR4 RAM.
      Atleast 10GB HDD/SSD storage. (Although installer will allow min 5.5GB)
      Basic WPA/WPA2 compatible wifi card or ethernet supported motherboard.</p>
  </dialog>
</div>

<script>
  const requirements=document.getElementById('requirements')
  const req_btn=document.getElementById('req-btn')
  req_btn.addEventListener('click', function(){
    requirements.showModal()
  })
  const onClickOutside = (element, callback) => {
    document.addEventListener('click', e => {
      if (!element.contains(e.target)) callback();
    });
  };
  onClickOutside("#requirements", function(){
    requirements.close()
  })


</script>
<!-- Mininum:-

    64 bit x86_64 processor (Intel/AMD), with atleast 2 CPU cores. (32-bit not supported)
    Any GPU/iGPU with OpenGl 3.3+ support.
    Atleast 2GB DDR3/DDR4 RAM.
    Atleast 10GB HDD/SSD storage. (Although installer will allow min 5.5GB)
    Basic WPA/WPA2 compatible wifi card or ethernet supported motherboard.
 -->