---
import InstallationSteps from "../components/InstallationSteps";
import Layout from "../layouts/Layout.astro";
---

<div class="w-full bg-slate-800 relative overflow-x-hidden">
  <div class="downloadSectionGradient"></div>
  <div class=" md:grid md:grid-cols-2">
    <div
      class="text-content mx-5 lg:mx-10 my-10 sm:my-20 z-10"
    >
      <div
        class="text-white font-semibold text-4xl lg:text-6xl mb-4 lg:mb-9"
      >
      Downloads
      </div>
      <p class=" text-white flex flex-wrap font-normal text-sm md:text-xl">
        TCET Linux source code and installers are available for download <br /> for
        all versions!!
      </p>
      <div class="btns flex flex-row flex-wrap items-center gap-2 md:gap-5 text-white">
        <div
          class="flex flex-row bg-blue-700 w-fit py-2 px-5 cursor-pointer mt-2 md:mt-4 gap-5 items-center justify-center rounded-full border-custom-w border-custom-border-color"
          >
          <button class="w-16 h-6 font-semibold text-base">Download</button>
          <img class="w-full h-full" src="images/download-icon.svg" alt="" />
        </div>
        <div
        class="flex flex-row w-fit p-2 cursor-pointer mt-2 md:mt-4 gap-2 items-center justify-center border rounded-full border-white"
        >
          <button class="w-24 h-6 md:font-semibold">Requirements</button>
          <span class="p-1 ml-1 bg-custom-btn rounded-full">
            <img
              class="w-full h-full"
              src="images/requirements-icon.svg"
              alt=""
              />
          </span>
        </div>
        <!-- <div class="underline underline-offset-4 flex ml-3">
        <a class="mt-2 md:mt-4" href="#"> Verify your downloads &rarr;</a>
      </div> -->
        <button class="flex flex-row items-center mt-2 p-2 gap-2">
          <i
            class="font-semibold text-base underline underline-offset-4 not-italic"
          >
            Verify your download &rarr;
          </i>
        </button>
      </div>
    </div>
    <div class="image-content hidden md:flex items-center align-middle justify-center z-10">
      <img
        class="w-60 h-40 lg:w-96 lg:h-80"
        src="images/man-with-laptop.png"
        alt=""
      />
    </div>
  </div>
</div>
